body {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

section {
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}